{% extends "layout.njk" %}
{% block content %}
<form action="/sign" method="post">
  <fieldset>
    <legend>Please sign in</legend>
    <p>User: <input type="text" name="user"/></p>
    <p>Pass: <input type="text" name="password"/></p>
    <p><input type="submit" value="提交"></p>
  </fieldset>
</form>
{% endblock %}